* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}

/************************/
/* HEADER */
/************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  height: 9.6rem;
  padding: 4rem 10rem;
}
.logo {
  width: 18.2rem;
  height: 5.4rem;
}
/************************/
/* NAVIGATION*/
/************************/
.main-nav {
  display: flex;
  align-items: center;
  justify-items: center;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  margin-right: 1.5rem;
  text-decoration: none;
  color: #8a94a6;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: all 0.3s;
  list-style: none;
}
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  width: 17.9rem;
  padding: 1.6rem 3.3rem 1.7rem 3.3rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #377dff;
  border: none;
  cursor: pointer;
}
.nav-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.nav-btn:hover,
.nav-btn:active {
  background-color: #e5f1ff;
  color: #377dff;
}
.nav-btn {
  margin-left: 3.4rem;
}
.link-icon {
  width: 1.2rem;
  height: 1.2rem;
}

/************************/
/* Section Hero */
/************************/
.section-hero {
  padding: 10rem;
}
.heading-primary {
  width: 52.8rem;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #323b4b;
  margin-bottom: 3.4rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-description {
  width: 46.6rem;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #8a94a6;
  margin-bottom: 3.6rem;
}
.hero-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 1.5rem;
  color: #377dff;
}
.hero-image img {
  border-radius: 1rem;
  width: 60.4rem;
  height: 61.6rem;
}
.hero-image {
  position: relative;
  justify-self: end;
}
.play-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #377dff;
  position: absolute;
  top: 4.6rem;
  left: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.play-icon img {
  width: 1.5rem;
  height: 2.5rem;
}

/************************/
/* Section Offer */
/************************/

.section-offer {
  padding: 10rem;
  background-color: #fafbfc;
}

.section-offer .offer-title,
.section-offer .offer-description {
  margin: 0 auto;
  text-align: center;
}
.section-offer .offer-title {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #323b4b;
  margin-bottom: 3.5rem;
}
.section-offer .offer-description {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  width: 81rem;
  color: #8a94a6;
  margin-bottom: 8.1rem;
}
.offer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.1rem;
  row-gap: 3.7rem;
  margin-bottom: 12.3rem;
}
.offer-card:hover {
  box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
}
.offer-card {
  padding: 3.1rem;
  width: 60.4rem;
  height: 28.5rem;
  border-radius: 1.5rem;
  background-color: #ffff;
}
.card-icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2.9rem;
}
.card-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #323b4b;
  margin-bottom: 2.1rem;
}
.card-description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #8a94a6;
  width: 537px;
}
/************************/
/* Section Dream Job */
/************************/

.section-dream-job {
  padding: 10rem;
  background-color: #ffffff;
}
.job {
  display: flex;
  align-items: center;
  column-gap: 13.8rem;
}
.job-image {
  width: 94.4rem;
  height: 62.9rem;
  border-radius: 1.5rem;
}
.job-image img {
  border-radius: 1.5rem;
}
.job-title {
  width: 55.5rem;
  height: 22.1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #323b4b;
  margin-bottom: 3.2rem;
}
.job-description {
  width: 47rem;
  height: 10.2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #8a94a6;
}
.job-titles {
  justify-self: end;
}

/************************/
/* Vacancy Job */
/************************/

.section-vacancy {
  padding: 10.8rem 0 12.5rem 0;
  background-color: #fafbfc;
}
.section-vacancy .vacancy-title,
.section-vacancy .vacancy-description {
  margin: 0 auto;
  text-align: center;
}
.section-vacancy .vacancy-title {
  font-style: normal;
  font-weight: 70rem;
  font-size: 6rem;
  color: #323b4b;
  margin-bottom: 3.5rem;
}
.section-vacancy .vacancy-description {
  width: 76.9rem;
  font-style: normal;
  font-weight: 50rem;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #8a94a6;
  margin-bottom: 7.8rem;
}
.vacancy {
  padding: 0 28rem;
}
.vacancy-list-header {
  width: 88rem;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-items: start;
  margin-bottom: 2.7rem;
}
.vacancy-list-header p {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #323b4b;
}
.vacancy-list {
  width: 88rem;
  height: 11.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 3.2rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  align-items: center;
  justify-items: start;
}
.vacancy-list p {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #8a94a6;
}
.vacancy-list p:first-child {
  color: #323b4b;
}
.vacancy-list:hover {
  box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
}
.vacancy .vacancy-title-box:last-child {
  margin-bottom: 9.2rem;
}
.vacancy-btn,
.vacancy-btn:link,
.vacancy-btn:visited {
  width: 60.4rem;
  height: 6.6rem;
  margin: 0 auto;
  background: #e5f1ff;
  border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.vacancy-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #377dff;
}
.section-vacancy .vacancy-btn {
  display: block;
  align-items: center;
}
.vacancy-btn:hover,
.vacancy-btn:active {
  background-color: #377dff;
  color: #e5f1ff;
}

/************************/
/* Section Footer */
/************************/

.section-footer {
  padding: 13.2rem 0 0 10.1rem;
  background-color: #ffffff;
}
.footer-logo {
  width: 14.9rem;
  height: 4.4rem;
  margin-bottom: 2.8rem;
}
.footer-title {
  width: 28.2rem;
  height: 11rem;
  margin-bottom: 3.1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
}
.social-link {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #fafbfc;
  margin-bottom: 10.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social-link img {
  width: 2.8rem;
  height: 2.8rem;
}
.social-links {
  display: flex;
  column-gap: 2.4rem;
}
.footer-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #323b4b;
  margin-bottom: 2.7rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}
.footer-link:link,
.footer-link:visited {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #8a94a6;
  text-decoration: none;
}
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.copy {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #8a94a6;
  margin-bottom: 14.3rem;
}
